################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Assets/Handpainted Forest Environment Free Sample


Library
Library/*
.vs
.vs/*
Temp
Temp/*
Logs/
obj/
Assets/JMO Assets
Assets/SkillPartical
Assets/*meta
Assets/Art/*
Assets/ArtTool/*
Plugins/
*.meta
Assets/Resources/SkillPartical
*.sln
ProjectSettings/
*.csproj
*.txt
*.prefab

Assets/For_sale/
