################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Assets/Handpainted Forest Environment Free Sample


Library
Library/*
.vs
.vs/*
Temp
Temp/*

/Assets/JMO Assets
/Assets/SkillPartical
/Assets/*meta
*.meta
/Assets/Resources/SkillPartical
*.sln
*.csproj
*.txt
*.prefab

Assets/For_sale/
